<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.authmanage.system.mapper.UserMapper">
    <resultMap type="com.authmanage.system.domain.User" id="UserResult">
        <id property="id" column="id"/>
        <result property="avatar" column="avatar"/>
        <result property="createTime" column="create_time"/>
        <result property="email" column="email"/>
        <result property="enabled" column="enabled"/>
        <result property="password" column="password"/>
        <result property="username" column="username"/>
        <result property="lastPasswordResetTime" column="last_password_reset_time"/>
        <result property="phone" column="phone"/>
        <association property="dept" column="dept_id" javaType="com.authmanage.system.domain.Dept" resultMap="deptResult"/>
        <association property="job" column="job_id" javaType="com.authmanage.system.domain.Job" resultMap="jobResult"/>
        <!--<collection property="roles" javaType="java.util.Set"/>-->
    </resultMap>

    <resultMap id="deptResult" type="com.authmanage.system.domain.Dept">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="pid" column="pid"/>
        <result property="createTime" column="create_time"/>
        <result property="enabled" column="enabled"/>
    </resultMap>
    
    <resultMap id="jobResult" type="com.authmanage.system.domain.Job">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="createTime" column="create_time"/>
        <result property="enabled" column="enabled"/>
        <result property="sort" column="sort"/>
    </resultMap>

</mapper>