package ${package}.domain;

import lombok.Data;
import com.authmanage.common.core.domain.BaseEntity;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.annotation.TableId;
#foreach ($column in $columns)
#if(($column.attrType == 'LocalDateTime') && ($column.attrname != 'createBy' && $column.attrname != 'createTime' && $column.attrname != 'updateBy' && $column.attrname != 'updateTime' && $column.attrname != 'remark'))
import java.time.LocalDateTime;
#elseif(($column.attrType == 'LocalTime') && ($column.attrname != 'createBy' && $column.attrname != 'createTime' && $column.attrname != 'updateBy' && $column.attrname != 'updateTime' && $column.attrname != 'remark'))
import java.time.LocalTime;
#elseif(($column.attrType == 'LocalDate') && ($column.attrname != 'createBy' && $column.attrname != 'createTime' && $column.attrname != 'updateBy' && $column.attrname != 'updateTime' && $column.attrname != 'remark'))
import java.time.LocalDate;
#elseif(($column.attrType == 'Timestamp') && ($column.attrname != 'createBy' && $column.attrname != 'createTime' && $column.attrname != 'updateBy' && $column.attrname != 'updateTime' && $column.attrname != 'remark'))
import java.sql.Timestamp;
#break


#end
#end
#foreach ($column in $columns)
#if($column.attrType == 'BigDecimal')
import java.math.BigDecimal;
#break
#end
#end

/**
 * ${tableComment}表 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${className} extends BaseEntity{

#foreach ($column in $columns)
#if(${velocityCount} == 1)
    /** $column.columnComment */
    @TableId
    private $column.attrType $column.attrname;
#elseif($column.attrname != 'createBy' && $column.attrname != 'createTime' && $column.attrname != 'updateBy' && $column.attrname != 'updateTime' && $column.attrname != 'remark')

	/** $column.columnComment */
	private $column.attrType $column.attrname;
#end
#end



}
